@model WebApplication1.Models.Admine

@{
    ViewBag.Title = "Signup";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<main class="main-content  mt-0">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Crée un compte</h4>
                    </div>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form role="form" class="text-start">
                        @Html.LabelFor(model => model.Email, "CIN", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-outline mb-3">
                            <input type="text" class="form-control" id="Pass" name="Pass" />
                            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Email, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.LabelFor(model => model.Email,"complet", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="input-group input-group-outline mb-3">
                            <input type="text" class="form-control" id="Pass" name="Pass" />
                            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Email, "Numero", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-outline mb-3">
                            <input type="text" class="form-control" id="Pass" name="Pass" />
                            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-outline my-3">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-outline mb-3">
                            @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-center">
                            <button type="submit" value="Register" class="btn bg-gradient-primary w-100 my-4 mb-2">Enregistrer</button>
                        </div>
                        @*<p class="mt-4 text-sm text-center">
                            <a href="Login" class="text-primary text-gradient font-weight-bold">Connecter</a>
                        </p>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
