@model IEnumerable<WebApplication1.Models.projet>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Les Projets Andriod</h6>
                    </div>
                    <table id="fresh-table" class="table">
                        <thead>
                        <th data-field="id">@Html.DisplayNameFor(model => model.Titre)</th>
                        <th data-field="name" data-sortable="true">@Html.DisplayNameFor(model => model.Proprie)</th>
                        <th data-field="country" data-sortable="true">@Html.DisplayNameFor(model => model.TypeP)</th>
                        <th data-field="city">Date Fin</th>
                        <th data-field="Progression" data-events="operateEvents">@Html.DisplayNameFor(model => model.Progression)</th>
                        <th data-field="actions" data-events="operateEvents">Actions</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => x.TypeP == "mobile"))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Titre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Proprie)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TypeP)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FormattedDateL)</td>
                                    <td class="align-middle text-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <span class="me-2 text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Progression)%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Html.DisplayFor(modelItem => item.Progression)%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn bg-gradient-success w-50 mb-0 toast-btn" type="button" data-target="successToast">
                                            <a href="~/Tasks1/Index?title=@item.Titre" class="edit">
                                                <span class="material-icons">
                                                    visibility2
                                                </span>
                                            </a>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
    </div>



    </body>
<script type="text/javascript">
          var $table = $('#fresh-table')
          //var $alertBtn = $('#alertBtn')

          $(function () {
            $table.bootstrapTable({
              classes: 'table table-hover table-striped',
              toolbar: '.toolbar',

              search: true,
              //howRefresh: true,
              //showToggle: true,
              //showColumns: true,
              //pagination: true,
              //striped: true,
              //sortable: true,
              pageSize: 8,
              pageList: [8, 10, 25, 50, 100],

              formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
              },
              formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
              }
            })
          })
</script>